<Layout::Container>
  <div class="w-full flex flex-col md:flex-row">

    <div class="w-full md:w-2/5 lg:w-1/4">
      <ImageWrapper::Image
        @id="gymnast"
        @src="https://res.cloudinary.com/camsimages/image/upload/v1586530474/double_thcaef.jpg"
        @aspectWidth={{1698}}
        @aspectHeight={{1698}}
        @alt="gymnast" />
    </div>
    <div class="w-full md:w-3/5 lg:w-3/4 md:ml-6">
      <p class="text-base pb-6">
        A couple of years ago, I put on my full time mommy pants and have been doing my best to love and feed and keep my kids wearing clothes ever since. (They are both still preschoolers.) It’s worth it. Our kids are hilarious, wonderful, and challenging. There is really never a dull moment. Every day I laugh many times (I cry a lot too, but not as much as they do….usually). I am inspired by and in awe of them.
      </p>
      <p class="text-base pb-6">
        The public library is our second home. We enjoy storytime, reading books, giggling at books, learning from books. The three of us also spend many hours crafting and drawing. We’ve actually made a number of books together, and my older son has plans to one day work in a tall building downtown as an author/robot scientist.
      </p>
      <p class="text-base pb-6">
        I am living in a chapter of life that is full of movement, antics and moments worth capturing. It is rich with characters, life, nature and love. I have always loved entertaining myself and others with my drawings. Now the timing feels right to add children’s book illustrator to my list of artistic endeavors as making art with and for children and those who love them is my passion.
      </p>
    </div>
  </div>

</Layout::Container>