{{!-- <Modal @showModal={{this.showModal}} @toggleModal={{this.toggleModal}}>
  <div id="paypal-button-container"></div>
</Modal> --}}

<Layout::Container>
  {{!-- <div class="w-auto my-10" role="button" {{on "click" (fn this.toggleModal "https://res.cloudinary.com/camsimages/image/upload/v1586483445/costumeframes_cojyqz.jpg")}}> --}}
    <ImageWrapper::Image
      @id="costume_frames"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586483445/costumeframes_cojyqz.jpg"
      @aspectWidth={{4900}}
      @aspectHeight={{1700}}
      @alt="costume frames" />
  {{!-- </div> --}}
  <hr>
  <div class="max-w-xl mx-auto my-10">
    <ImageWrapper::Image
      @id="nicklaus_holiday"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586484045/nicklausholiday_h5rven.jpg"
      @aspectWidth={{2550}}
      @aspectHeight={{2550}}
      @alt="nicklaus holiday" />
  </div>
  <hr>
  <div class="w-full my-10 flex flex-col sm:w-4/5 sm:mx-auto sm:flex-row">
    <div class="w-full sm:w-2/4">
      <ImageWrapper::Image
        @id="lamby_show_title"
        @src="https://res.cloudinary.com/camsimages/image/upload/v1586571437/lamb_xsxmis.jpg"
        @aspectWidth={{3194}}
        @aspectHeight={{3194}}
        @alt="lamby show title" />
    </div>
    <div class="w-full sm:w-2/4">
      <ImageWrapper::Image
        @id="lamby_dance"
        @src="https://res.cloudinary.com/camsimages/image/upload/v1586573552/lamb2_sekdcz.jpg"
        @aspectWidth={{3400}}
        @aspectHeight={{3400}}
        @alt="lamby dance" />
    </div>
  </div>
  <hr>
  <div class="max-w-lg mx-auto my-10">
    <ImageWrapper::Image
      @id="gymnast"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586483490/gymnast_cgffdv.jpg"
      @aspectWidth={{1402}}
      @aspectHeight={{2338}}
      @alt="gymnast" />
  </div>
  <hr>
  <div class="max-w-2xl mx-auto my-10">
    <ImageWrapper::Image
      @id="united_state_of_electronica"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586483752/usenye2019_dhqtac.jpg"
      @aspectWidth={{2400}}
      @aspectHeight={{2400}}
      @alt="united state of electronica" />
  </div>
  <hr>
  <div class="max-w-4xl mx-auto my-10">
    <ImageWrapper::Image
      @id="puddles_on_the_trail"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586573698/puddlespage_ejijzb.jpg"
      @aspectWidth={{1997}}
      @aspectHeight={{1292}}
      @alt="puddles on the trail" />
  </div>
  <hr>
  <div class="max-w-4xl mx-auto my-10">
    <ImageWrapper::Image
      @id="rainbow_on_the_trail"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586485998/rainbowpage_pjlhii.jpg"
      @aspectWidth={{1985}}
      @aspectHeight={{1284}}
      @alt="rainbow on the trail" />
  </div>
  <hr>
    {{!-- <div class="w-full sm:w-2/4"> --}}
    <div class="max-w-2xl mx-auto">
      <ImageWrapper::Image
        @id="sad_whale"
        @src="https://res.cloudinary.com/camsimages/image/upload/v1586486423/whale_jkrnhn.jpg"
        @aspectWidth={{3209}}
        @aspectHeight={{3209}}
        @alt="sad whale" />
    </div>
  {{!-- </div> --}}
  <hr>
  <div class="w-full mx-auto my-10">
    <ImageWrapper::Image
      @id="trailer_family"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586485196/trailer_iuqsyu.jpg"
      @aspectWidth={{5434}}
      @aspectHeight={{3000}}
      @alt="trailer family" />
  </div>
  <hr>
  <div class="max-w-2xl mx-auto my-10">
    <ImageWrapper::Image
      @id="blairy_the_pickle_tea_time"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586485753/blairytea_ncaefg.jpg"
      @aspectWidth={{3075}}
      @aspectHeight={{3150}}
      @alt="blairy the pickle tea time" />
  </div>
  <hr>
  <div class="max-w-2xl mx-auto my-10">
    <ImageWrapper::Image
      @id="shoe_maker_elves"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586484982/elvesandshoemaker_mxvou1.jpg"
      @aspectWidth={{3264}}
      @aspectHeight={{3264}}
      @alt="shoe maker elves" />
  </div>
  <hr>
  <div class="max-w-3xl mx-auto my-10">
    <ImageWrapper::Image
      @id="a_plus_a_holiday"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586484801/aplusaholiday_muw7ce.jpg"
      @aspectWidth={{2092}}
      @aspectHeight={{1624}}
      @alt="a plus a holiday" />
  </div>
  <hr>
  <div class="w-full mx-auto my-10">
    <ImageWrapper::Image
      @id="mystery"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586484449/mysteryweb_hsakty.jpg"
      @aspectWidth={{6300}}
      @aspectHeight={{3300}}
      @alt="mystery" />
  </div>
  <div class="max-w-2xl mx-auto">
    <ImageWrapper::Image
      @id="monkey_love"
      @src="https://res.cloudinary.com/camsimages/image/upload/v1586486452/monkeylove_rhwygv.jpg"
      @aspectWidth={{2550}}
      @aspectHeight={{2550}}
      @alt="monkey love" />
  </div>
</Layout::Container>